# サポートされているすべての環境変数のドキュメントはこちら: https://docs.immich.app/install/environment-variables

# アップロードしたメディアファイルを保存する場所
UPLOAD_LOCATION=/mnt/NAS/Immich-library

# データベースファイルを保存する場所（※データベース用ストレージとしてネットワーク共有フォルダはサポートされていません）
DB_DATA_LOCATION=./postgres

# タイムゾーンを設定する場合は、次の行のコメントアウト(#)を解除し、Etc/UTC を以下のリストにあるタイムゾーン識別子に変更してください:
# https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List
TZ=Asia/Tokyo

# 使用する Immich のバージョン。"v2.1.0" のように特定のバージョンに固定することもできます
IMMICH_VERSION=v3

# PostgreSQLの接続パスワード。ランダムなパスワードに変更してください
# 特殊文字やスペースは使用せず、半角英数字 `A-Za-z0-9` のみを使用してください
DB_PASSWORD=ImmichSecurePass

# Tailscaleの認証キー (https://login.tailscale.com/admin/settings/keys で発行)
TS_AUTHKEY=tskey-auth-YOUR-KEY-HERE



# これより下の値は変更する必要はありません
###################################################################################
DB_USERNAME=postgres
DB_DATABASE_NAME=immich

